# Review Data Processing & Polarity Scores Worksheet

# Import all necessary libraries

In [1]:
import pandas as pd
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
from textblob import TextBlob

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\leslie_major\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\leslie_major\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Importing the data

In [2]:
df = pd.read_csv ('review_data_cleaned.csv')
df.head(-10)

,asin,overall,verified,reviewerID,reviewText,summary,unixReviewTime,vote,style
0,143026860,1,True,A1V6B6TNIC10QE,great,One Star,1424304000,NaN,NaN
1,143026860,4,True,A2F5GHSXFQ0W6J,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN
2,143026860,4,True,A1572GUYS7DGSR,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN
3,143026860,5,True,A1PSGLFK1NSVO,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN
4,143026860,5,True,A6IKXKZMTKGSC,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5.0,NaN
...,...,...,...,...,...,...,...,...,...
371330,B01HJ84SGM,5,True,AE6EGAUH6TV7J,Works great for UTIs,Works great!,1521763200,NaN,NaN
371331,B01HJ84SGM,5,True,A2FZ7C9H14T5HZ,I have used this for a couple of years. It wo...,Works great!,1506988800,NaN,NaN
371332,B01HJ84SGM,5,True,A1YQHF10YIMWOL,I've battled UTI's for most of my life. After...,FREE OF UTI's!,1503532800,NaN,NaN
371333,B01HJ84SGM,5,True,A1IYJVHJSCR8DR,I have been using this for years and I believe...,Great product. Very beneficial.,1496016000,NaN,NaN
371334,B01HJ84SGM,5,True,A7WHO9ZFPHU2B,"I think D-Mannose, Nature's Herbs, Cranberry W...",Lifesavers...,1494288000,NaN,NaN

## Remove stopwords and get the polarity scores based on sentiment analysis

In [3]:
df_reviewText = df[['asin','reviewText']]
df_reviewText.head()

        asin                                         reviewText
0  143026860                                              great
1  143026860  My  husband wanted to reading about the Negro ...
2  143026860  This book was very informative, covering all a...
3  143026860  I am already a baseball fan and knew a bit abo...
4  143026860  This was a good story of the Black leagues. I ...

In [4]:
#Tokenize & remove stopwords from review text row entries
final_list = []
#Borrow the code from https://www.geeksforgeeks.org/removing-stop-words-nltk-python/
stop_words = set(stopwords.words('english'))

for index, item in df_reviewText['reviewText'].iteritems():
    #Borrow the code from https://www.geeksforgeeks.org/removing-stop-words-nltk-python/
    middle = []
    middle.append(word_tokenize(str(item)))
    for i in middle:
        filtered_list = []
        for j in i:
            if (j.lower() not in stop_words) and (j.isalnum() and len(j) > 1) == True:
                filtered_list.append(j)
            else:
                continue
    final_list.append(filtered_list)

In [12]:
len(final_list)

371345

In [13]:
y = pd.Series(final_list)
y.head()

0                                              [great]
1    [husband, wanted, reading, Negro, Baseball, gr...
2         [book, informative, covering, aspects, game]
3    [already, baseball, fan, knew, bit, Negro, lea...
4    [good, story, Black, leagues, bought, book, te...
dtype: object

In [14]:
#df_reviewText = df_reviewText.drop(columns='ready_for_sentiment_analysis')

In [15]:
df_reviewText.insert(0, 'summary_preprocessed', y)

ValueError: cannot insert ready_for_sentiment_analysis, already exists

In [16]:
df_reviewText.head()

,ready_for_sentiment_analysis,asin,reviewText
0,[great],143026860,great
1,"[husband, wanted, reading, Negro, Baseball, gr...",143026860,My husband wanted to reading about the Negro ...
2,"[book, informative, covering, aspects, game]",143026860,"This book was very informative, covering all a..."
3,"[already, baseball, fan, knew, bit, Negro, lea...",143026860,I am already a baseball fan and knew a bit abo...
4,"[good, story, Black, leagues, bought, book, te...",143026860,This was a good story of the Black leagues. I ...

In [17]:
# Calculate polarity scores on review text for each row in dataframe
pol_list = []
for index, item in df_reviewText['ready_for_sentiment_analysis'].iteritems():
    #Borrow the code from nlp_part3_sentiment_analysis-inclass.ipynb
    if item == '':
        continue
    else:
        tb = TextBlob(str(item))
        pol_list.append(tb.sentiment.polarity)

In [23]:
df['Review_polarity']=pol_list
df.head()

,asin,overall,verified,reviewerID,reviewText,summary,unixReviewTime,vote,style,Review_polarity
0,143026860,1,True,A1V6B6TNIC10QE,great,One Star,1424304000,NaN,NaN,0.800000
1,143026860,4,True,A2F5GHSXFQ0W6J,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,0.800000
2,143026860,4,True,A1572GUYS7DGSR,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,-0.400000
3,143026860,5,True,A1PSGLFK1NSVO,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,0.000000
4,143026860,5,True,A6IKXKZMTKGSC,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5.0,NaN,0.264074

In [24]:
df_summary = df[['summary']]
df_summary.head()

                                             summary
0                                           One Star
1  ... to reading about the Negro Baseball and th...
2                                     Worth the Read
3                                          Good Read
4                More than facts, a good story read!

In [25]:
#Tokenize & remove stopwords from Summary text row entries
final_list_sm = []
#Borrow the code from https://www.geeksforgeeks.org/removing-stop-words-nltk-python/
stop_words = set(stopwords.words('english'))

for index, item in df_summary['summary'].iteritems():
    #Borrow the code from https://www.geeksforgeeks.org/removing-stop-words-nltk-python/
    middle_sm = []
    middle_sm.append(word_tokenize(str(item)))
    for i in middle_sm:
        filtered_list_sm = []
        for j in i:
            if (j.lower() not in stop_words) and (j.isalnum() and len(j) > 1) == True:
                filtered_list_sm.append(j)
            else:
                continue
    final_list_sm.append(filtered_list_sm)

In [47]:
len(final_list_sm)
final_list_sm[:5]

[['One', 'Star'],
 ['reading',
  'Negro',
  'Baseball',
  'great',
  'addition',
  'library',
  'library',
  'haveinformation'],
 ['Worth', 'Read'],
 ['Good', 'Read'],
 ['facts', 'good', 'story', 'read']]

In [27]:
y_sm = pd.Series(final_list_sm)
y_sm.head()

0                                          [One, Star]
1    [reading, Negro, Baseball, great, addition, li...
2                                        [Worth, Read]
3                                         [Good, Read]
4                           [facts, good, story, read]
dtype: object

In [29]:
df_summary.insert(0, 'ready_for_sentiment_analysis_sm', y_sm)

In [30]:
df_summary.head()

,ready_for_sentiment_analysis_sm,summary
0,"[One, Star]",One Star
1,"[reading, Negro, Baseball, great, addition, li...",... to reading about the Negro Baseball and th...
2,"[Worth, Read]",Worth the Read
3,"[Good, Read]",Good Read
4,"[facts, good, story, read]","More than facts, a good story read!"

In [31]:
# Calculate polarity scores on summary text for each row in dataframe
pol_list_sm = []

for index, item in df_summary['ready_for_sentiment_analysis_sm'].iteritems():
    #Borrow the code from nlp_part3_sentiment_analysis-inclass.ipynb
    if item == '':
        continue
    else:
        tb = TextBlob(str(item))
        pol_list_sm.append(tb.sentiment.polarity)

In [32]:
z_sm = pd.Series(pol_list_sm)
z_sm.head()

0    0.0
1    0.8
2    0.3
3    0.7
4    0.7
dtype: float64

In [34]:
df['summary_polarity']=z_sm

In [35]:
df.head()

,asin,overall,verified,reviewerID,reviewText,summary,unixReviewTime,vote,style,Review_polarity,summary_polarity
0,143026860,1,True,A1V6B6TNIC10QE,great,One Star,1424304000,NaN,NaN,0.800000,0.0
1,143026860,4,True,A2F5GHSXFQ0W6J,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,0.800000,0.8
2,143026860,4,True,A1572GUYS7DGSR,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,-0.400000,0.3
3,143026860,5,True,A1PSGLFK1NSVO,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,0.000000,0.7
4,143026860,5,True,A6IKXKZMTKGSC,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5.0,NaN,0.264074,0.7

In [38]:
#verify types of columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371345 entries, 0 to 371344
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   asin              371345 non-null  object
 1   overall           371345 non-null  int64
 2   verified          371345 non-null  bool
 3   reviewerID        371345 non-null  object
 4   reviewText        370946 non-null  object
 5   summary           371134 non-null  object
 6   unixReviewTime    371345 non-null  int64
 7   vote              51899 non-null   float64
 8   style             125958 non-null  object
 9   Review_polarity   371345 non-null  float64
 10  summary_polarity  371345 non-null  float64
dtypes: bool(1), float64(3), int64(2), object(5)
memory usage: 28.7+ MB

In [53]:
len(df)

371345

In [61]:
df_mini = df[['summary_polarity']]
df_mini.nunique()

summary_polarity    2501
dtype: int64

All data types look good!

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371345 entries, 0 to 371344
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   asin              371345 non-null  object
 1   overall           371345 non-null  int64
 2   verified          371345 non-null  bool
 3   reviewerID        371345 non-null  object
 4   reviewText        370946 non-null  object
 5   summary           371134 non-null  object
 6   unixReviewTime    371345 non-null  int64
 7   vote              51899 non-null   float64
 8   style             125958 non-null  object
 9   Review_polarity   371345 non-null  float64
 10  summary_polarity  371345 non-null  float64
dtypes: bool(1), float64(3), int64(2), object(5)
memory usage: 28.7+ MB

Insert tokenized/preprocessed review & summary text lists (with stopwords removed) into dataframe:

In [51]:
#first, name first column
df.index.name = 'reviewID'

In [52]:
df_all = df
df_all.index.name = 'reviewID'
df_all['review_processed'] = final_list_sm
df_all['summary_processed'] = final_list
df_all.head()

,asin,overall,verified,reviewerID,reviewText,summary,unixReviewTime,vote,style,Review_polarity,summary_polarity,summary_processed,review_processed
rownum,,,,,,,,,,,,,
0,143026860,1,True,A1V6B6TNIC10QE,great,One Star,1424304000,NaN,NaN,0.800000,0.0,[great],"[One, Star]"
1,143026860,4,True,A2F5GHSXFQ0W6J,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,0.800000,0.8,"[husband, wanted, reading, Negro, Baseball, gr...","[reading, Negro, Baseball, great, addition, li..."
2,143026860,4,True,A1572GUYS7DGSR,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,-0.400000,0.3,"[book, informative, covering, aspects, game]","[Worth, Read]"
3,143026860,5,True,A1PSGLFK1NSVO,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,0.000000,0.7,"[already, baseball, fan, knew, bit, Negro, lea...","[Good, Read]"
4,143026860,5,True,A6IKXKZMTKGSC,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5.0,NaN,0.264074,0.7,"[good, story, Black, leagues, bought, book, te...","[facts, good, story, read]"

Export updated review data (with polarity scores) to csv file

In [50]:
df.to_csv('review_data_w_polarity.csv')
df_all.to_csv('review_data_w_polarity_tokens.csv')